.introducao-bg{
  background: #000000;
  color: #ffffff;
  box-shadow: inset 0 -120px #ffffff;
}
.introducao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px 20px;
}
.introducao-conteudo{
  align-self: end;
  padding-bottom: 200px;
}
.introducao img{
  height: 100%;
  object-fit: cover;
}
.introducao h1{
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}
.introducao h1 span{
  color: #ffbb00;
}
.introducao p{
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #b2b2b2;
}
.introducao a{
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  text-transform: uppercase;
  color: #332200;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
}
.introducao a:hover{
  background: linear-gradient(#ffb60d, #e59317);
}