.bicicletas-bg{
  background: var(--cor-11);
}
.bicicletas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.bicicletas-imagem{
  display: grid;
}
.bicicletas-imagem img{
  grid-area: 1/1;
}
.bicicletas-imagem span{
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}
.bicicletas-conteudo{
  display: grid;
  grid-template-columns: 1fr auto;
}
.bicicletas-conteudo h2,
.bicicletas-conteudo p{
  grid-column: 1/-1;
}
.bicicletas-conteudo h2{
  margin-bottom: 20px;
}
.bicicletas-conteudo h2::before{
  content: '';
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}
.bicicletas-conteudo p{
  margin-bottom: 32px;
}
.bicicletas-conteudo a{
  place-self: end;
}
.bicicletas-conteudo ul{
  display: grid;
  gap: 16px;
}
.bicicletas-conteudo li{
  display: flex;
  align-items: center;
}
.bicicletas-conteudo img{
  width: 24px;
  margin-right: 8px;
}