.header-bg{
  background-color: var(--cor-12);
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a{
  padding: 16px 0px;
  position: relative;
  font-weight: 600;
}
.header-menu a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover::after,
.header-menu a.ativo::after{
  width: 100%;
}
@media (max-width: 800px){
  .header-menu{
    gap: 20px;
  }
  .header-menu a{
    background-color: var(--cor-11);
    padding: 10px 16px;   
    border-radius: 4px;
  }
  .header-menu a:hover{
    background-color: var(--cor-10);
  }
  .header-menu a::after{
    display: none;
  }
}
@media (max-width: 600px){
  .header{
    justify-content: center;
    flex-direction: column;
    gap: 18px;
  }
  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    font-size: .8rem;
    padding: 8px 12px;
  }
}
@media (max-width: 500px){
  .header a[href="./"]{
    padding-bottom: 20px;
    padding-left: 20px;
  }
}