.vantagens-bg{
  background-color: var(--cor-12);
  --padding: 120px;
}
.vantagens{
  background: url('../../img/dec/top-right.svg') no-repeat top 110px right 20px;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.vantagens h2{
  margin-bottom: 60px;
}
.vantagens ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
}
.vantagens h3, .vantagens img{
  margin-bottom: 8px;
}
@media (max-width: 800px){
  .vantagens-bg{ 
    --padding: 60px;
  }
  .vantagens{ 
    background: url('../../img/dec/top-right.svg') no-repeat top 60px right 20px;
  }
  .vantagens h2{
    margin-bottom: 40px;
  }
  .vantagens ul{
    gap: 20px;
  }
}